header {
    background-color: darkblue;
    color: white;
    padding: 15px;
    position: relative;
    top: 0;
}

body {
    margin: 0;
    height: 100vh;
}
img {
    width: 100%;
}

form {
    font-weight: bold;
}

footer {
    background-color: purple;
    color: orange;
    padding: 15px;
    position: relative;
    width: calc(100% - 30px);
    /* width: 100%; */
    bottom: 0;
}